<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        background-color: #e5e4e4;
    }
    .row{
        background-color: white;
        border-radius: 20px;
    }
  </style>
</head>
<body>
  <section class="Form my-4 mx-5">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-5">
          <%= image_tag("pexels-photo-297507.jpeg", class: "img-fluid", id: "login-img") %>
        </div>
        <div class="col-lg-7">
          <h1>SELT 2020</h1>
          <%= form_tag login_create_path do %>
            <div class="form-row">
              <div class="col-lg-7">
                 <%= text_field :username, 'username', class: "form-control", placeholder: "Username", :id => 'loginUser'%>
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <%= password_field :password, 'password', :id =>'loginEmail', placeholder: "********", class:"form-control" %> 
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <%= submit_tag "Log in", :id=>'login_submit', class: "form-control" %>
              </div>
            </div>
          <% end %>
          <%=link_to "Sign up", new_user_path %>
        </div>
        </div>
      </div>
  </section>
</body>
</html>