<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%= stylesheet_link_tag "stylesheets/login" %>
</head>
<body>
<%= form_tag login_create_path do %>
  <p>
    <%= label_tag :username, "Username" %>
    <%= text_field :username, 'username',:id => 'loginUser'%>
  </p>
  <p>
    <%= label_tag :password %>
    <%= password_field :password, 'password', :id =>'loginEmail' %>
  </p>
  <p>
    <%= submit_tag "Log in", :id=>'login_submit' %>
  </p>
<% end %>
<%=link_to "Sign up", users_path %>
</body>
</html>