<h2> Sign up </h2>
<%=form_tag users_path, :class => 'form' do%>
  <%=label :user, :username, 'Username', :class => 'col-form-label', :id =>"Username"%>
  <div class = 'form-inline'>
    <%=text_field :user, 'username', :class => 'form-control',:id => "Username" %>
  </div>
  <%=label :user, :email, 'Email', :class => 'col-form-label' %>
  <div class = 'form-inline'>
    <%=text_field :user, 'email', :class => 'form-control', :id =>"email" %>
  </div>
  <%=label :user, :password, 'Password', :class => 'col-form-label' %>
  <div class = 'form-inline'>
  <%=password_field :user, 'password', :class => 'form-control', :id=> "password" %>
  <br>
  <br>
  <%= button_to "Create my account", users_path, method: :create, :id =>"createUser" %>
  <%= link_to "Login", login_path %>
  </div>
<% end %>
