<style>
    #discardMain{
        box-shadow: 2px 2px 6px gray;
    }

    #discardMain:hover{
        background-color: white;
        color: #dc3545;
    }
</style>


<div class="container">
  <h2 class="mt-3">Trade Cards</h2>
  <%= form_tag trade_path , :method => :post do%>
    <table id="hand" class="table table-striped">
      <thead>
      <tr>
        <th>Card</th>
        <th>Select</th>
      </tr>
      </thead>
      <tbody>
      <% @hand.each do |card| %>
        <tr>
          <td>
            <% if card.rank == 'Ace' && card.suit == 'Diamond' %>
              <%= image_tag(src='AD1.png', width: '80', height: '122')%>
            <% else %>
              <%= image_tag(src=card.rank[0] + card.suit[0] + ".png", width: '80', height: '122') %>
            <% end %>
          </td>
          <td>
            <%=check_box_tag "traded[#{card.card_id}]"%>
          </td>
        </tr>
        </tbody>
      <% end %>
      </table>
    <div class="row justify-content-lg-center">
      <div class="input-group mb-3 mt-3">
        <%= text_field :user , 'tradeuser' , :id => 'tradeuser',placeholder: "Username to trade cards with", class:'form-control' %>
        <%= submit_tag 'Trade Cards', :id => 'tradebutton', class:'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>