<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        background-color: hsl(0 0% 0% / 0.04);
    }
    .row{
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 6px lightgray;
    }
    img{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .btn1 {
        border:none;
        outline: none;
        border-radius: 4px;
        color: white;
        background-color: black;
        font-size: 1.1em;
        font-weight: bold;
        box-shadow: 2px 2px 10px gray;
        margin-bottom: 4px;
        padding: 0.5em 0.8em;
        transition: 0.3s all ease-in-out;
    }

    .btn1:hover {
        box-shadow: 0 0 0 2px black;
        background-color: white;
        color: black;
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
    }

    .img-contain {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    #logo{
        text-decoration: none;
        font-weight: 300;
        color: black;
        text-shadow: 2px 2px 4px #c4c4c4;
    }
</style>

<section class="form">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-5">
        <%= image_tag("home-cards.jpg", class: "img-contain", id: "login-img") %>
      </div>
      <div class="col-lg-7 px-5 pt-3">
        <h1 class="py-2" id="logo"><span class="font-weight-bold">Cards</span>HQ</h1>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="form-row">
            <div class="col-lg-7">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control my-2 p-3" %>
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-7">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class:"form-control p-3" %>
       </div>
          </div>

    <% if devise_mapping.rememberable? %>
            <div class="form-row">
              <div class="col-lg-7">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
            </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class:'mt-3 btn1', id: 'btm1'%>
    </div>
  <% end %>
      <div class="mt-2">
        <%= render "devise/shared/links" %>
      </div>
      </div>
    </div>
  </div>
</section>