<h2>
  <%= "Welcome to the room #{@room.name}" %>
</h2>


<h3><%= "Please share the following room id with your friends/family: #{@room.invitation_token}" %></h3>
<div class="form-inline">
<%= button_to 'Draw' , user_draw_path, id: "draw"%>
<br/>
<br/>
<%= link_to "Discard", discard_index_path, id: "discard"%>
<br/>
<br/>
<%= button_to 'Destroy Room', room_del_path, method: :delete %>
<br/>
<%=form_tag rooms_update_score_path :class => 'form' do %>
  <%= text_field :user , 'score' , :id => 'score' %>
  <%= button_to 'Update Score', rooms_score_path %>
<%end %>

<table class="table-bordered" id="users">
  <thead>
  <tr>
    <th>Username</th>
    <th>Number of cards</th>
    <th>Score</th>
  </tr>
  </thead>
  <tbody>
  <% @num_cards.each do |user| %>
    <tr>
      <td id="username">
        <%= user[0] %>
      </td>
      <td id="numCards">
        <%= user[1] %>
      </td>
      <td :id="score">
        <%= user[2] %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="container">
  <div class="floatLeft">
<%= form_tag  rooms_play_card_path, :method => :post, :id => 'rooms_play_card_path' do%>
  <br>
  <% if !@hand.blank? %>
    <table id="hand">
      <thead>
      <tr>
        <th>Suit</th>
        <th>Rank</th>
        <th>Select</th>
      </tr>
      </thead>
      <tbody>
      <% @hand.each do |card| %>
        <tr>
          <td>
            <%= card.suit %>
          </td>
          <td>
            <%= card.rank%>
          </td>
          <td>
            <%=check_box_tag "played_cards[#{card.card_id}]",nil,nil, :id => "hand_#{card.card_id}"%>
          </td>
        </tr>
      <% end %>

      </tbody>
    </table>
    </div>
  <% else %>
    <h1>
      No cards present in your hand
    </h1>
  <%end %>
      <div>
        <%= button_to 'Play' , rooms_play_card_path %>
      </div>
<% end %>


  <div class="floatRight">
    <h3>Played Cards</h3>
    <table id="played_cards">
      <thead>
      <tr>
        <th>Suit</th>
        <th>Rank</th>
      </tr>
      </thead>
      <tbody>
      <% @played_cards.each do |played| %>
        <tr>
          <td>
            <%= played.suit %>
          </td>
          <td>
            <%= played.rank%>
          </td>
        </tr>
      <% end %>

      </tbody>
    </table>
  </div>
    </div>
  </div>

