<style>
  #draw, #discard, #btn-dest, #btn-play, #updateScore{
      box-shadow: 2px 2px 6px gray;
  }

  #btn-play:hover, #draw:hover, #updateScore:hover {
      background-color: white;
      color: #007bff;
  }
  #discard:hover{
      background-color: white;
      color: #343a40;
  }
  #btn-dest:hover{
      background-color: white;
      color: #dc3545;
  }
</style>
<head>
  <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
</head>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="mt-3">Welcome to the room <span class="font-weight-normal"><%="#{@room.name}"%></span></h2>
      <h4>Please share the following invitation token with your friends/family: <span class="font-weight-normal"><%="#{@room.invitation_token}"%></span></h4>
    </div>
  </div>
  <div class="row justify-content-lg-center">
    <%= button_to 'Destroy Room', room_del_path, method: :delete, class:'btn btn-danger p-2 m-2', id:'btn-dest' %>
    <%= button_to 'Reset Room', rooms_reset_path, class:'btn btn-danger p-2 m-2', id:'reset'%>
  </div>
<%=form_tag rooms_update_score_path :class => 'form' do %>
    <div class="row p-3">
      <div class="col-lg-6">
    <div class="input-group mb-3 mt-3">
  <%= text_field :user , 'score' , :id => 'score', class:'form-control' %>
  <%= submit_tag 'Update Score', :id => 'updateScore', class:'btn btn-primary ml-3' %>
<%end %>
  </div>
  </div>
<div class="col-lg-6">
<table class="table" id="users">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Username</th>
    <th scope="col">Number of cards</th>
    <th scope="col">Score</th>
  </tr>
  </thead>
  <tbody>
  <% @num_cards.each do |user| %>
    <tr>
      <td id="username">
        <%= user[0] %>
      </td>
      <td id="numCards">
        <%= user[1] %>
      </td>
      <td :id="score">
        <%= user[2] %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
  </div>
  </div>
  <div class="row justify-content-lg-center">
      <%= button_to 'Draw' , user_draw_path, id: "draw", class:'btn btn-primary'%>
  </div>
  <div class="row justify-content-lg-center">
    <%= link_to 'Trade' , trade_index_path, id: "trade", class:'btn btn-primary'%>
  </div>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
  <div class="floatLeft">
<%= form_tag  rooms_play_card_path do%>
  <br>
  <% if !@hand.blank? %>
        <h3>Player Hand</h3>
    <table id="hand" class="table table-striped">
      <thead>
      <tr>
        <th>Card</th>
        <th>Select</th>
      </tr>
      </thead>
      <tbody>
      <% @hand.each do |card| %>
        <tr>
          <td>
            <% if card.rank == 'Ace' && card.suit == 'Diamond' %>
              <%= image_tag(src='AD1.png', width: '80', height: '122')%>
            <% else %>
              <%= image_tag(src=card.rank[0] + card.suit[0] + ".png", width: '80', height: '122') %>
            <% end %>
          </td>
          <td>
            <%=check_box_tag "played_cards[#{card.card_id}]",nil,nil, :id => "hand_#{card.card_id}"%>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  <% else %>
    <h1 class="row justify-content-lg-center pb-3">
      No cards present in your hand
    </h1>
  <%end %>
      <div class="row justify-content-lg-center">
        <div class="col col-md-auto">
        <%= submit_tag 'Play', class: 'btn btn-primary', id:'Play_Button' %>
        </div>
        <div class="col col-md-auto">
          <%= link_to "Discard", discard_index_path, id: "discard", class:'btn btn-dark'%>
        </div>
      </div>
<% end %>
    </div>

<div class="col-lg-6">
  <div class="floatRight">
    <h3>Played Cards</h3>
    <table id="played_cards" class="table table-striped">
      <thead>
      <tr>
        <th>Player</th>
        <th>Card</th>
      </tr>
      </thead>
      <tbody>
      <% @player_info.each do |played| %> <!-- 0 is name 1 is suit 2 is rank-->
        <tr>

          <td>
            <%= played[0] %>
          </td>

          <td>
            <% if played[1] == 'Diamond' && played[2] == 'Ace' %>
              <%= image_tag(src='AD1.png', width: '80', height: '122')%>
            <% else %>
              <%= image_tag(src=played[2][0] + played[1][0] + ".png", width: '80', height: '122') %>
            <% end %>
          </td>
        <tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
  </div>
</div>
</div>

<script type="text/javascript" charset="utf-8">
    pusher = new Pusher('<%= Pusher.key %>');
    var channel = pusher.subscribe(gon.room_id); //gon.room_id
    channel.bind('new-action', function(data){
        console.log("hey");
        out_string = data.username + " " + data.action + ":\n";
        html_string = "";
        for(i = 0; i < data.info.length; i++)
        {
            out_string = out_string + data.info[i][0] + " of " + data.info[i][1] + "\n";
            html_string = "<tr><td>" +data.username+"</td>";
            img_tag = "";
            if(data.action != "discarded") {
                if (data.info[i][1] == 'Diamond' && data.info[i][0] == 'Ace') {
                    img_tag = "<td><img width='80' height='122' src='app/assets/images/AD1.png' alt='Ace of Diamonds'></td></tr>";
                    //img_tag = "<td>"+data.info[i][1]+"</td></tr>";
                } else {
                    name = 'app/assets/images/'+data.info[i][1][0] + data.info[i][0][0] + '.png';
                    console.log(name);
                    img_tag = "<td><img width='80' height='122' src=name alt=' "+ data.info[i][0] +" of "+ data.info[i][1]+"'></td></tr>";
                    //console.log(img_tag);
                    //img_tag = "<td>"+ data.info[i][0] + " of " +data.info[i][1]+"</td></tr>";
                }
                $("#played_cards tbody").prepend(html_string + img_tag);
            }

        }
        alert(out_string);

    });
</script>
