<h2>
  <%= "Welcome to the room #{@room.name}" %>
</h2>


<h3><%= "Please share the following room id with your friends/family: #{@room.invitation_token}" %></h3>
<%= button_to 'DRAW' , user_draw_path %>
<%= button_to 'Discard/play' , user_draw_path %>

<%=form_tag rooms_update_score_path :class => 'form' do %>
  <%= text_field :user , 'score' , :id => 'score' %>
  <%= button_to 'Update Score', rooms_score_path %>

  <%= @current_user.score %>
<%end %>


<%= button_to 'Destroy Room', room_del_path, method: :delete %>


<h3><%= "Please share the following room id with your friends/family: #{@room.invitation_token}" %></h3>
<%= button_to 'Draw' , user_draw_path, id: "draw"%>
<br/>
<br/>
<%= link_to "Discard", discard_index_path, id: "discard"%>
<%= form_tag  rooms_play_card_path, :method => :post, :id => 'rooms_play_card_path' do%>
<br>
<div class="container">
  <div class="floatLeft">
<% if !@hand.blank? %>
      <h3>Player Hand</h3>
  <table id="hand">
    <thead>
    <tr>
      <th>Suit</th>
      <th>Rank</th>
      <th>Select</th>
    </tr>
    </thead>
    <tbody>
    <% @hand.each do |card| %>
      <tr>
        <td>
          <%= card.suit %>
        </td>
        <td>
          <%= card.rank%>
        </td>
        <td>
          <%=check_box_tag "played_cards[#{card.card_id}]",nil,nil, :id => "hand_#{card.card_id}"%>
        </td>
      </tr>
    <% end %>

    </tbody>
  </table>
      </div>
<% else %>
  <h1>
    No cards present in your hand
  </h1>


<%end %>


<%end %>

    <div class="floatRight">
      <h3>Played Cards</h3>
  <table id="played_cards">
    <thead>
    <tr>
      <th>Suit</th>
      <th>Rank</th>
    </tr>
    </thead>
    <tbody>
    <% @played_cards.each do |played| %>
      <tr>
        <td>
          <%= played.suit %>
        </td>
        <td>
          <%= played.rank%>
        </td>
      </tr>
    <% end %>

    </tbody>
  </table>
    </div>
</div>
  <br>
  <div class="in-line">
    <%= button_to 'Play' , rooms_play_card_path %>
  </div>
