
<div class="container">
<h2>Discard Cards</h2>
<%= form_tag  discard_discard_card_path, :method => :post do%>
  <h3>Player Hand</h3>
  <table id="hand">
    <thead>
    <tr>
      <th>Suit</th>
      <th>Rank</th>
      <th>Select</th>
    </tr>
    </thead>
   <tbody>
    <% @hand.each do |card| %>
      <tr>
        <td>
          <%= card.suit %>
        </td>
        <td>
          <%= card.rank%>
        </td>
        <td>
         <%=check_box_tag "discarded[#{card.card_id}]"%>
        </td>
      </tr>
   <% end %>
  <%=submit_tag "Discard!", id: "discardMain"%>
<% end %>

  </tbody>
</table>
</div>