<!DOCTYPE html>
<html>
<head>
  <title>Team1Selt2020</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <h1 class="title">SELT 2020!</h1>
      <nav>
        <ul class="navMenu">
          <%=  %>
        </ul>
      </nav>
  <%= yield %>
</div>
</body>
</html>
