<!DOCTYPE html>
<html>
<head>
  <title>Team1Selt2020</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <% if @current_user %>
    <h1 class="title"><%= link_to "SELT 2020", rooms_path %></h1>
  <% else %>
    <h1 class="title">SELT 2020</h1>
  <%end %>
      <nav>
        <ul class="navMenu">
          <%=  %>
        </ul>
      </nav>
  <% if flash[:notice] %>
    <div class="alert alert-danger">
      <div class="flashMessage" id="notice">
        <%= flash[:notice] %>
      </div>
    </div>
  <% elsif flash[:warning] %>
    <div class="alert alert-danger">
      <div class="flashMessage" id="warning">
        <%= flash[:warning] %>
      </div>
    </div>
  <% end %>
  <% if @current_user %>
    You are logged in as <%= @current_user.username%>
    <br>
    <br>
    <%= button_to "Logout", logout_path, :id => 'logout', method: :delete%>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
